<%- include('../partials/header') %>

    <section id="show-page">
        <div>Airline:</div>
        <dir>
            <%= flight.airline %>
        </dir>
        <div>Airport</div>
        <dir>
            <%= flight.airport %>
        </dir>
        <div>Flight Number</div>
        <dir>
            <%= flight.flightNo %>
        </dir>
        <div>Departure Date</div>
        <dir>
            <%= flight.departs.toLocaleDateString("en-US", {timeZone:"UTC"} - 1) %>
        </dir>

        <div>Destinations</div>
        <dir>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td>
                        Airport: <%= d.airport %>
                    </td>
                    <td>
                        Arrival: <%= d.arrival %>
                    </td>
                    <br />
                </tr>
                <% }); %>
        </dir>


    </section>

    <h2>Add Destination</h2>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Destination</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <label>Arrival
            <input type="datetime-local" name="arrival" min="2023-01-01T00:00">
        </label>
        <input type="submit" value="Add Destination" />
    </form>



    <% if (tickets.length){ %>
        <h2>Tickets</h2>
        <table>
            <thead>
                <tr>
                    <th>Seat</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% tickets.forEach(function(t) { %>
                    <tr>
                        <td>
                            <%= t.seat %>
                        </td>
                        <td>$<%= t.price %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h2>No Tickets Yet</h3>
                <% }; %>
                    <a href='/flights/<%=flight._id%>/tickets/new'><button>New Ticket</button></a>

                    <%- include('../partials/footer') %>